@import 'sizes';

.content {
  height: $height;
  width: $img-width;
  filter: brightness(90%);
}

.image-slider{
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

#wrapper {
  display: flex;
  flex-wrap: nowrap;
  transform: translate3d(0, 0, 0);
   transition: transform .9s cubic-bezier(.57,.21,.69,1.25);
  
}

.window {

  align-self: center;
  width: 80vw;
  overflow: hidden;
  height: ($height);
  display: flex;
  border-radius: 1rem;

  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.navLinks {
  text-align: center;
  width: ($width);
  align-self: center;
}

.navLinks ul {
  margin: 0px;
  padding: 0px;
  display: inline-block;
  margin-top: 6px;
}

.links {
  float: left;
  text-align: center;
  margin: 10px;
  list-style: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 50px;
  border: black 1px solid;
}

.links:hover {
  background-color: #ffff00;
}

.links.active {
  background-color: #333333;
  color: #ffffff;
  outline-width: 7px;
}

.links.active:hover {
  background-color: #484848;
  color: #ffffff;
}

.btn {
  cursor: pointer;
  position: absolute;
  top: 50%;
  font-size: 1.2rem;
  width: auto;
  margin-top: -110px;
  padding: 3rem 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
}

.right {
  right: 0;
  border-radius: 3px 0 0 3px;
  margin-right: 10vw;

}

/* On hover, add a black background color with a little bit see-through */
.left:hover,
.right:hover {
  background-color: rgba(0, 0, 0, 0.8);
}