// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import 'sizes';

@font-face {
    font-family: 'hangyaku';
    src: url('../fonts/hangyaku-font/Hangyaku-ywzMm.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'bento';
    src: url('../fonts/japan-bento-version-font/JapanBentoDemoVersionRegular-nRWAJ.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'trial';
    src: url('../fonts/qasengi-trial-font/QasengiTrialRegular-GO91O.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding-inline: $body-padding;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}

.main{
    display: flex;
    flex-direction: column;
    width: $body-size;
    align-self: center;
    margin-top: 1rem;
}
