// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

$body-padding: 20px;

body {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding-inline: $body-padding;
    // max-width: 1200px;
    // font-size: 1.2rem;
}

nav {
    $width:0;
    $translate: 0;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-content: center;
    font-size: larger;
    // background-color: #fab3ad;
    // background-color: #DE9C94;
    background-color: rgba(255, 232, 232, 1);
    padding-inline: 1rem;
    border-radius: 10px;

    ul {
        list-style: none;
        grid-column-start: 3;
        grid-column-end: 5;

        display: flex;
        // flex-direction: column;
        justify-content: space-around;

        text-align: center;
    }

    li {
        font-weight: 500;
        // opacity: 0.5;
        position: relative;
        // color: hotpink;
        // overflow: hidden;
    }
    li::after {
        content: "";
        position: absolute;
        height: 3px;
        width: 100%;
        left: 0;
        bottom: 0;
        background-color: orangered;
        // opacity: 1;
        
        translate: $translate;
        scale: $width 1;
        transition: scale 300ms,
        translate 500ms;
    }
    li:has(+ :hover){
    //    color: red;
       $translate: 100%;
    }

    li:hover::after{
        scale: 1 1;
    }

    li:hover + li{
        // color: red;
        $translate: -100%;
    }

    li:hover,
    li:focus-visible {
        opacity: 1;
        $width: 1;
    }

    .Nav-brand {
        grid-column-start: 1;
        grid-column-end: 3;
        display: flex;
        align-items: center;
    }
}